.modal {
    display: flex;
    justify-content: center;
}

.modal > dialog {
    padding-top: 0;
}

.modal > dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal > dialog > div{
    position: static;
}

.modal > dialog > div > div:nth-of-type(1){
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid black;
}

.modal > dialog > div > div:nth-of-type(2){
    margin-top: 0;
}

.modal button{
    display: inline-flex;
    align-items: center;
}

.modal button > svg{
    margin: 0 0 0 0.3rem;
}