*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --darkblue1: rgb(0, 92, 99);
  --darkblue2: rgb(0, 0, 104);
  --menu-width: 12rem;
  --left-margin-for-menu: 12rem;
  --pagetop-height: 3rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #eee;
    color: #111;
    min-height: calc(100vh - var(--pagetop-height));
}

#root>:last-child{
  margin-left: var(--left-margin-for-menu);
  margin-top: var(--pagetop-height);
  padding: 1rem;
}

button{
    background-image: linear-gradient(135deg, var(--darkblue1) 0%, var(--darkblue2) 100%);
    background-position: right center;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
    background-size: 140% auto;
}

button:hover{
  transition: 0.3s;
  background-position: left center;
}

a{
    text-decoration: none;
    color: var(--darkblue2);
}

a:hover{
    text-decoration: underline;
}

a.active{
    color: var(--darkblue1);
}

input{
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border: 1px solid var(--darkblue2);
}

legend{
    font-size: 1.2rem;
    margin: 0.5rem;
    color: var(--darkblue2);
}

select{
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
    font-size: 1rem;
}

select:focus{
    outline: none;
    border: 1px solid var(--darkblue2);
}

fieldset{
    border: 2px solid var(--darkblue2);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

ul{
  border: 1px solid #bbb;
  border-radius: 0.3rem;
}


li{
  border-bottom: 1px solid #bbb;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}

li:last-child{
  border-bottom: none;
}

li:hover{
  background-color: #eee;
}

::marker{
  font-size: 1.5rem;
  color: #111;
}

span{
  margin: 0 0.5rem 0 0;
}

@media screen and (max-width: 600px) {
  :root {
    --left-margin-for-menu: 0;
  }
}