/* Similar to client\src\components\employee\EmployeeForm\EmployeeForm.module.css */

.groupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupForm form>fieldset>div:nth-of-type(1){
    grid-area: name;
}

.groupForm form>fieldset>div:nth-of-type(2){
    grid-area: numOfShifts;
}

.groupForm form>fieldset>div:nth-of-type(3){
    grid-area: constraints;
}

.groupForm form>fieldset>div:nth-of-type(4){
    grid-area: hideCheckbox;
    justify-self: start;
}

.groupForm form>fieldset>button{
    grid-area: button;
    justify-self: center;
    margin: 0;
}

.groupForm form>fieldset{
    display: grid;
    grid-template-areas: 'name numOfShifts'
                         'constraints constraints'
                         'hideCheckbox hideCheckbox'
                         'button button';
    grid-auto-columns: min-content;
    align-items: start;
    justify-items: start;
    row-gap: 1rem;
    column-gap: 2rem;
}

@media screen and (max-width: 60rem) {
    .groupForm form>fieldset{
        grid-template-areas: 'name'
                             'numOfShifts'
                             'constraints'
                             'hideCheckbox'
                             'button';
    }
}

@media screen and (max-width: 40rem) {
    .groupForm form>fieldset{
        justify-items: center;
    }
}