.employee form>fieldset>div:nth-of-type(1){
    grid-area: name;
}

.employee form>fieldset>div:nth-of-type(2){
    grid-area: surname;
}

.employee form>fieldset>fieldset{
    grid-area: groupsFieldset;
    justify-self: stretch;
}

.employee form>fieldset>button{
    grid-area: button;
    justify-self: center;
}

.employee form>fieldset{
    display: grid;
    grid-template-areas: 'name surname'
                         'groupsFieldset groupsFieldset'
                         'button button';
    grid-auto-columns: min-content;
    align-items: start;
    justify-items: end;
    row-gap: 1rem;
    column-gap: 2rem;
}

@media screen and (max-width: 60rem) {
    .employee form>fieldset{
        grid-template-areas: 'name'
                             'surname'
                             'groupsFieldset'
                             'button';
    }
}