.shiftspage>div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shiftspage>div:first-of-type>a{
    background-color: var(--darkblue1);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    margin: 1rem;
    display: inline-flex;
    align-items: center;
}

.shiftspage>div:first-of-type>a:hover{
    text-decoration: underline;
}

.shiftspage>div:first-of-type>a>svg{
    margin: 0 0 0 0.3rem;
}

.shiftspage>div:nth-of-type(2){
    height: .3rem;
    background-color: var(--darkblue1);
}