.responsivetable table{
    margin: auto;
}

.responsivetable td{
    padding: .5rem 2rem;
    text-align: center;
}

.responsivetable thead{
    position: sticky;
    top: 0;
}

@media screen and (max-width: 800px) {
    .responsivetable table{
        min-width: 100%;
    }   
}