.responsivetable table{
    margin: auto;
}

.responsivetable td{
    padding: .5rem 2rem;
    text-align: center;
}

.responsivetable thead{
    position: sticky;
    top: 0;
    z-index: 2;
}

table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    border-left: none;
  }

.responsivetable > table > tbody > tr > td:first-of-type{
    position: sticky;
    left: 0;
    background-color: var(--darkblue1);
    color: white;
    border-right: 5px solid red inset;
    white-space: nowrap;
    border-left: none;
    z-index: 1;
}

.responsivetable th{
    border-top: none;
}

@media screen and (max-width: 800px) {
    .responsivetable table{
        min-width: 100%;
    }
}