.pagetop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--gray1);
    display: flex;
    justify-content: space-between;
    height: var(--pagetop-height);
    padding: 0 1rem;
    z-index: 100;
}

.pagetop>div{
    display: flex;
    align-items: center;
}

.pagetop a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.3rem;
    color: white;
}

.pagetop a:hover{
    background-color: var(--gray2);
}

.logged{
    border-top: 8px solid var(--darkblue1);
    background-color: var(--gray1);
    position: fixed;
    left: 0;
    top: var(--pagetop-height);
    height: calc(100vh - var(--pagetop-height));
    width: 12rem;
    overflow-y: auto;
}

.logged a{
    display: block;
    padding: 0.5rem;
    background-color: var(--gray1);
    color: white;
}

.logged a:hover{
  background-color: var(--gray2);
}

@media screen and (max-width: 600px) {

  .logged{
    width: 100%;
    left: -100%;
    transition: 0.3s;
  }

  .logged a{
    text-align: center;
    padding: 1rem;
  }

  .hamburger{
    display: inline-block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
  }

  .hamburger>div {
    height: 4px;
    background-color: white;
    transition: 0.4s;
    margin: 0.3rem 0;
  }

  .hamburgerOn>:nth-child(1) {
    transform: translateY(0.6rem) rotate(45deg);
  }

  .hamburgerOn>:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
  }

  .hamburgerOn>:nth-child(2) {
    opacity: 0;
  }

  .loggedVisible{
    left: 0;
  }
}