*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --darkblue1: rgb(0, 92, 99);
  --darkblue2: rgb(0, 0, 104);
  --left-margin-for-menu: 12rem; /* managed with js */
  --pagetop-height: 3rem;
  --black1: #111;
  --gray1: #333;
  --gray2: #555;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #eee;
    color: var(--black1);
    min-height: calc(100vh - var(--pagetop-height));
}

#root>:last-child{
  margin-left: var(--left-margin-for-menu);
  margin-top: var(--pagetop-height);
  padding: 1rem;
}

button{
    background-image: linear-gradient(135deg, var(--darkblue1) 0%, var(--darkblue2) 100%);
    background-position: right center;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
    background-size: 140% auto;
}

button:hover{
  transition: 0.3s;
  background-position: left center;
}

a{
    text-decoration: none;
    color: var(--darkblue2);
}

a:hover{
    text-decoration: underline;
}

a.active{
  text-decoration: underline;
}

input{
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border: 1px solid var(--darkblue2);
}

legend{
    font-size: 1.2rem;
    margin: 0.5rem;
    color: var(--darkblue2);
}

select{
    border: 1px solid #bbb;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
    font-size: 1rem;
}

select:focus{
    outline: none;
    border: 1px solid var(--darkblue2);
}

fieldset{
    border: 2px solid var(--darkblue2);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

ul{
  border: 1px solid #bbb;
  border-radius: 0.3rem;
}


li{
  border-bottom: 1px solid #bbb;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}

li:last-child{
  border-bottom: none;
}

li:hover{
  background-color: #eee;
}

::marker{
  font-size: 1.5rem;
  color: var(--black1);
}

span{
  margin: 0 0.5rem 0 0;
}

h1{
  text-align: center;
}

table{
  border-collapse: collapse;
}

th{
  padding: 0.5rem;
  background-color: var(--darkblue1);
  color: white;
}

td{
  padding: 0.5rem;
}

th, td{
  border: .1rem solid #333;
}

tr:nth-child(odd){
  background-color: #fff;
}

tr:nth-child(even){
  background-color: #ddd;
}

tbody>tr:hover{
  outline: 0.2rem solid var(--darkblue1);
}

caption{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;
}

@media screen and (max-width: 600px) {
  #root>:last-child{
    margin-left: 0;
  }
}