.input > label:nth-of-type(1) {
    grid-area: label;
    background-color: red;
}

.input > label:nth-of-type(2) {
    grid-area: error;
    background-color: blue;
}

.input > input {
    grid-area: input;
    background-color: green;
}

.input {
    display: grid;
    grid-template-areas: 'label input'
                         'error error';
    place-items: center;
    gap: .2rem;
}

@media screen and (max-width: 500px) {
    .textinput {
        grid-template-areas: 'input'
                             'label'
                             'error';
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        gap: .2rem;
    }
}