.pagetop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    height: var(--pagetop-height);
    border-bottom: 1px solid var(--darkblue2);
    padding: 0 1rem;
}

.pagetop>div{
    display: flex;
    align-items: center;
}

.pagetop a {
    display: inline-block;
    padding: 0.5rem;
    background-color: lightcoral;
    border-radius: 0.3rem;
    margin: 0.3rem;
}

.logged{
    background-color: lightgoldenrodyellow;
    position: fixed;
    left: 0;
    top: var(--pagetop-height);
    height: 100%;
    width: var(--menu-width);
}

.logged a{
    display: block;
    padding: 0.5rem;
    background-color: lightcoral;
}

@media screen and (max-width: 600px) {

  .logged{
    left: calc(-1*var(--menu-width));
    transition: 0.4s;
  }

  .hamburger{
    display: inline-block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    outline: 1px solid red;
    margin: 0 0.5rem;
  }

  .hamburger>div {
    height: 4px;
    background-color: #333;
    transition: 0.4s;
    margin: 0.3rem 0;
  }

  .hamburgerOn>:nth-child(1) {
    transform: translateY(0.6rem) rotate(45deg);
  }

  .hamburgerOn>:nth-child(3) {
    transform: translateY(-0.6rem) rotate(-45deg);
  }

  .hamburgerOn>:nth-child(2) {
    opacity: 0;
  }

  .loggedVisible{
    left: 0;
  }
}